.lukit-text-input-modal {
	padding: 0;
}

.lukit-text-input {
	width: 100%;
	padding: var(--size-4-2) var(--size-4-3);
	font-size: var(--font-ui-medium);
}

.lukit-text-input-buttons {
	display: flex;
	justify-content: flex-end;
	gap: var(--size-4-2);
	padding: var(--size-4-2) var(--size-4-3);
}
